<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Todo</title>
</head>
<body>
    <form action="/createTodo" method="post">
        
        <label for="title">Title: </label>
        <input type="text" name="title" id="title1" required>
                
        <label for="description">description: </label>
        <textarea name="description" id="description1"></textarea>                
        
        <label for="date"> Date:</label> 
        <input type="date" name="date">
        <input type="submit">
        </form>
    

</body>
</html>